<h1> Courses Created By Me</h1>

<%= @user.name %>, <%= @user.email %>
<div class="container">
  <div class="media-container">
    <% @user.courses.each do |course_details| %>
      <div class="media ">
        <div class="media-left media-middle">
          <a href="#">
            <img class="media-object" src="https://d33wubrfki0l68.cloudfront.net/f29dc9865845dd2e2c163996c42816237588b6df/d3f8b/assets/images/rails-logo.png" alt="...">
          </a>
        </div>

        <div class="media-body">
          <h4 class="media-heading"><%= course_details.course_name %></h4>
          <div class="content"><b>Prerequisite: </b><%= course_details.prerequisite %></div>

          <small class="text-muted"><%= time_ago_in_words(course_details.created_at) %> ago</small>
          <div class="thumbs-container">
          <span class="like">
            <button class="like-button" style="border:none;background-color: transparent;"><i class="glyphicon glyphicon-thumbs-up"></i></button> 0
          </span>
            <span class="dislike">
            <button class="dislike-button" style="border:none;background-color: transparent;"><i class="glyphicon glyphicon-thumbs-down"></i></button> 0
          </span>
          </div>


        </div>
      </div>
    <% end %>
  </div>
</div>
