<%if Course.all.empty?%>
  <div class="container">
    <div class="alert alert-warning center" role="alert">
      <b class="center">No Courses to Present</b>
    </div>
  </div>
<%else %>
  <div class="media-container">
    <% Course.all.each do |course_details| %>
      <div class="media ">
      <div class="media-left media-middle ">
        <div class="center">
            <%= gravatar_for course_details.user %>
            <h4 class="media-heading"> <b><%=link_to course_details.user.name, user_path(course_details.user.id) %></b></h4>
        </div>
      </div>

      <div class="media-body">
        <h4 class="media-heading"><%= link_to course_details.course_name , course_path(course_details.id)%></h4>
        <div class="content"><b>Prerequisite: </b><%= course_details.prerequisite %></div>

        <div class="content "><b>Category: </b>
          <% course_details.categories.each do |category| %>
            <div class="link"><%= link_to category.category_name, category_path(category.id) %></div>
          <% end %>
        </div>


        <div class="content "><b>Location: </b>
          <% course_details.locations.each do |location| %>
            <div class="link"><%= link_to location.location_name, location_path(location.id) %></div>
          <% end %>
        </div>

        <small class="text-muted"><%= time_ago_in_words(course_details.created_at) %> ago</small>

        <div class="thumbs-container">

          <%= link_to likes_like_path(:course => course_details.id) do %>
          <span class="like">
            <button class="like-button" style="border:none;background-color: transparent;"><i class="glyphicon glyphicon-thumbs-up"></i></button>
            <% if course_details.liked.nil?  %>
              0
            <% else %>
              <%= course_details.liked %>
            <% end %>
          </span>
            <% end %>

            <%= link_to likes_dislike_path(:course => course_details.id) do %>
          <span class="dislike">
            <button class="dislike-button" style="border:none;background-color: transparent;"><i class="glyphicon glyphicon-thumbs-down"></i></button>
            <% if course_details.disliked.nil?  %>
              0
            <% else %>
              <%= course_details.disliked %>
            <% end %>
           </span>
            <% end %>
        </div>


      </div>
      </div>
    <% end %>
  </div>
<%end %>