 <header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "sample app", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",     root_path %></li>
        <li><%= link_to "web dev",     category_web_dev_path %></li>
        <li><%= link_to "ios",    category_ios_path %></li>
        <li><%= link_to "java",    category_java_path %></li>
        <li><%= link_to "full stack dev",    category_full_stack_dev_path %></li>
        <li><%= link_to "loc 14.10.30",  location_loc14_10_30_path %></li>
        <li><%= link_to "loc 14.10.30",  location_loc14_10_31_path %></li>
        <li><%= link_to "loc 14.10.30",  location_loc14_08_26_path %></li>
        <li><%= link_to "Log in",   '#' %></li>
      </ul>
    </nav>
  </div>
</header>
