<footer class="footer ">
   <nav class="jumbotron">
     <div class=" container-fluid">
       <div class=" row">
         <div class="col-md-4">
           <h2>General inquires</h2>
           <li><%= mail_to "s3761295@student.rmit.edu.au", "Andy Song" %></li>
           <li><%= mail_to "s3761295@student.rmit.edu.au", "Junilang Jiang" %></li>
           <li><%= mail_to "s3761295@student.rmit.edu.au", "Ali" %></li>
         </div>
         <div class="col-md-4">
           <h2>Useful Links</h2>
           <li><%= link_to "RMIT Courses",     "https://maps.google.com" %></li>
           <li><%= link_to "RMIT Help Desk",     "https://www.gmail.com" %></li>
           <li><%= link_to "RMIT International",    "https://rmit.com" %></li>
         </div>
         <div class="col-md-4">
           <h2>Media</h2>
           <li><%= link_to '<i class="fa fa-home"></i> Home'.html_safe,     root_path %></li>
           <li><%= link_to '<i class="fa fa-send"></i> Gmail'.html_safe,     "https://www.gmail.com" %></li>
           <li><%= link_to '<i class="fa fa-facebook"></i> Facebook'.html_safe,    "https://facebook.com" %></li>
           <li><%= link_to '<i class="fa fa-twitter"></i> Twitter'.html_safe,    "https://twitter.com" %></li>
           <li><%= link_to '<i class="fa fa-snapchat-ghost"></i> Snapchat'.html_safe,    "https://snapchat.com" %></li>
         </div>
       </div>
     </div>
   </nav>
 </footer>
