 <header class="navbar navbar-fixed-top">
  <div class="container">
    <%if logged_in? %>
      <%= link_to "course app",  all_courses_path, id: "logo" %>
    <%else %>
      <%= link_to "course app", root_path, id: "logo" %>
    <%end %>

    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-clone"></i> Category
          </a>
          <ul class="dropdown-menu">
            <% Category.all.each do |c| %>
              <li class="dropdown-item"><%= link_to c.category_name, category_path(c.id) %></li>
            <% end %>
            <% if logged_in? %>
              <li class="divider"></li>
              <li>
                <%= link_to "Create Category", new_category_path %>
              </li>
              <% end %>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-map-marker"></i> Locations
          </a>
          <ul class="dropdown-menu">
            <% Location.all.each do |l| %>
              <li><%= link_to l.location_name, location_path(l.id) %></li>
            <% end %>
            <% if logged_in? %>
              <li class="divider"></li>
              <li>
                <%= link_to "Create Location", new_location_path %>
              </li>
            <% end %>
          </ul>
        </li>

        <% if logged_in? %>
          <li><%= link_to "New Course", new_course_path %></li>

          <% if is_admin %>
            <li class="dropdown">
              <a href="#" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-admin"></i> Dashboard
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Course Edit", admin_course_edit_path %></li>
                <li><%= link_to "Category Edit", admin_category_edit_path %></li>
                <li><%= link_to "Location Edit", admin_location_edit_path %></li>
                <li><%= link_to "Coordinator Edit", admin_coordinator_edit_path %></li>
              </ul>
            </li>
          <%end %>

          <li class="dropdown">
            <a href="#" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-user"></i> User
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", '#' %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
