 <header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "sample app", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",     root_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Category <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <% Category.all.each do |c| %>
                <li><%= link_to "#{c.category}", categoryPath(+c.category.gsub(" ", "_")) %></li>
              <% end %>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Locations <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <% Location.all.each do |loc| %>
                <li><%= link_to "#{loc.location}", locationPath(loc.location.gsub(".", "_")) %></li>
              <% end %>
            </ul>
          </li>
        <li><%= link_to "Log in",   '#' %></li>
      </ul>
    </nav>
  </div>
</header>
